.main-content {
    margin: 1rem .5rem 1rem .5rem;
    padding: 1rem 1rem 1rem 1rem;
    background: rgb(255, 255, 255);
    flex: 1 1 65%;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    margin: .5rem .4rem;
}

.form-element {
    height: min-content;
}

input {
    margin-top: .3rem;
    background: rgb(255, 255, 255);
    color: rgb(112, 110, 110);
    border-style: solid;
    border-color: rgb(112, 110, 110);
    padding: .2rem;
    border-radius: .8rem;
    font-size: .8rem;
    /*text-transform: uppercase;*/
    display: flex;
    flex-basis: 100%;
}

.form-element {
    margin: .3rem .3rem .3rem .3rem;
    margin-top: .3rem;
    padding: .4rem;
    flex-basis: 100%;
}

@media(max-width:558px) {
    .form-content input {
        flex-basis: 100%;
        font-size: 1rem;
    }
}